.services-item {
    width: 50px;
    height:50px;
    margin-top: 1em;
    display: inline-grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    color: #6c757d

}

.service-image {
/* height: 548px; */
margin-left: 15%;
width: 700px;
border-radius: 2%;
border-image: 2px;
border-color: #F5F5F6
}

.service-icon {
    margin-top:-40px;
}

.services-desc {
    font-size: 16px
}

.services-background {
    background-color:#F5F5F6;   
    padding-top:40px 
}

.services-p {
    width:370px;
    color: #6c757d
}

.services {margin-top:60px;}


@media only screen and (max-width: 700px) {
    .services {margin-top:25px;}

    .services-item {
        width: 30px;
        height:30px;
        margin-top: 1em;
        display: inline-grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        color: #6c757d
    
    }
    .services-desc {
        font-size: 12px
    }
    .service-image {
        /* height: 548px; */
        margin-left: 5px;
        max-width: 600px;
        border-radius: 2%;
        border-image: 2px;
        border-color: #F5F5F6
        }

        .services-p {
            width:200px;
            color: #6c757d
        }
  }

