.form-button {
    
    display: flex;
    align-content: center;
    justify-content: center;
}

.form-p {
    margin-top:-20px;
    color:#6c757d
}
.contact-p {
    
    color:#6c757d
}

.form-tittle {
font-weight: 200
}