.hero-image {
    width: 500px;
    border-radius: 10px;
    border:0.5px;
}

.hero-p {
    margin-top:-18px;
    width:400px;
    font-size: 20px;
    font-weight: 400;
    color: #6c757d
}

.hero-tittle{
    margin-top:-18px;
    color: #4a50fd;
    font-size: 40px;
    font-weight: 400
}

.hero-button {
    background-color: #4a50fd;
    height: 60px;
}

@media only screen and (max-width: 900px) {
    .hero-image {
        width: 300px;
        border-radius: 10px;
        border:0.5px;
    }
    .hero-p {
        margin-top:-18px;
        width:400px;
        
    }
    
    .hero-tittle{
        margin-top:-18px;
        color: #4a50fd
    }
  }


