
.step-background {
    background-image: url(/public/images/step/Background.png);
    height: 1000px;
}

.search-icon {
  height: 229px;
  width: 229px;
  background-image: url("/public/images/step/SearchIcon.svg");
  background-size: auto;
  position: absolute;
  top:980px;
  left:180px;
  z-index: 1;
}

.step-icon {
    height:175px;
    width: 175px;
    margin-top:-20px;
}

.part-one {
  position:absolute;
  top:755px;
  left: 450px;
}
.part-two {
  position:absolute;
  top:1270px;
  left: 650px;
}

.trazado-background {
  position: absolute ;
  left: 297px;
  top: 880px;
  background-position: center;
  background-image: url("/src/images/step/Stepper-01.svg");
  height: 407px;
  width: 1327px;
}

.step-one {
  height: 300px;
  width: 300px;
  background-image: url("/src/images/step/Step1.svg");
  background-size: auto;
  position: absolute;
  left: 50px;
  top: 135px;
}
.step-two {
  height: 300px;
  width: 300px;
  background-image: url("/src/images/step/Step2.svg");
  position: absolute;
  left: 280px;
  top: -30px;
}
.step-three {
  height: 300px;
  width: 300px;
  background-image: url("/src/images/step/Step3.svg");
  position: absolute;
  left: 508px;
  top: 135px;
}
.step-four {
  height: 300px;
  width: 300px;
  background-image: url("/src/images/step/Step4.svg");
  position: absolute;
  left: 735px;
  top: -30px;
}
.step-five {
  height: 300px;
  width: 300px;
  background-image: url("/src/images/step/Step5.svg");
  position: absolute;
  left: 965px;
  top: 135px;
}