.solutions {
    background-image: url('/src/images/solutionsbackgroundd.jpg');
    /* background-color: slateblue; */
    margin-top:-20px;
}

.solutions-tittle{
    margin-bottom:-5px;
    color: white;
    font-weight: 100
}


@media only screen and (max-width: 700px) {
    .solutions {
        background-color: #4a50fd;
        /* background-color: slateblue; */
        margin-top:-20px;
    }
  }



